[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=python %f
Name=Run with Python
Name[cs_CZ]=Spustit pomocí Python
Icon=python
NoDisplay=true
MimeType=application/x-python-code; text/x-python;
