[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=sh %f
Name=Run with SHELL
Name[cs_CZ]=Spustit pomocí SHELL
Icon=bash
NoDisplay=true
MimeType=application/x-shellscript;
