[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=python %F
Name=Run with Python
Icon=python
NoDisplay=true
MimeType=application/x-python-code; text/x-python;
